RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(([A-Za-z0-9\-]+/)*[A-Za-z0-9\-]+)?$ $1.php

RewriteCond %(REQUEST_FILENAME) -s[OR]
RewriteCond %(REQUEST_FILENAME) -l[OR] 
RewriteCond %(REQUEST_FILENAME) -d

RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost/ [NC] 
RewriteRule \.(jpe?g|gif|bmp|png|php|css)$ - [F,NC]



Options -Indexes
